##### Series

In [1]:
 import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
object = Series([2,4,6,8,10])

object

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [5]:
object.values

array([ 2,  4,  6,  8, 10], dtype=int64)

In [7]:
object.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
Subjects =['Music','Art','Islamic','Science','Computer','math']

In [9]:
Marks = Series([87,43,30,21,90,88],index=['Music','Art','Islamic','Science','Computer','math'])
print(Marks)

Music       87
Art         43
Islamic     30
Science     21
Computer    90
math        88
dtype: int64

In [21]:
Marks = Series([87,43,30,21,90,88],index=['Music','Art','Islamic','Science','Computer Science','math'])
print(Marks)

Music               87
Art                 43
Islamic             30
Science             21
Computer Science    90
math                88
dtype: int64

In [11]:
Marks['Music']

87

In [22]:
Marks['Computer Science']

90

In [23]:
Marks[Marks>50]

Music               87
Computer Science    90
math                88
dtype: int64

In [24]:
'Music' in Marks

True

In [25]:

Marks[Marks == 90]

Computer Science    90
dtype: int64

In [27]:
Subjec_dict = Marks.to_dict()

Subjec_dict

{'Music': 87,
 'Art': 43,
 'Islamic': 30,
 'Science': 21,
 'Computer Science': 90,
 'math': 88}

In [29]:
Subject_Series = Series(Subjec_dict)
Subject_Series

Music               87
Art                 43
Islamic             30
Science             21
Computer Science    90
math                88
dtype: int64

#### Create a Series using the following data: data = [10, 20, 30, 40, 50]

In [32]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

#### Assign the following index labels to the Series: index = ['a', 'b', 'c', 'd', 'e']

In [33]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

#### Use index values to select the values of the Series for the labels 'b' and 'e'.

In [34]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

value_b = series.loc['b']
value_e = series.loc['e']

print("Value at index 'b':", value_b)
print("Value at index 'e':", value_e)

Value at index 'b': 20
Value at index 'e': 50

#### Check if the Series contains the value 20 using a boolean array.

In [35]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

contains_20 = series == 20

print(contains_20)

a    False
b     True
c    False
d    False
e    False
dtype: bool

##### Check if the Series contains the values 15 and 20 using a boolean array.

In [36]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

contains_15_20 = series.isin([15, 20])

print(contains_15_20)

a    False
b     True
c    False
d    False
e    False
dtype: bool

#### Add the value 5 to each element of the Series using array operations.

In [37]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

series = series + 5

print(series)

a    15
b    25
c    35
d    45
e    55
dtype: int64

#### Convert the Series into a Python dictionary and check its values.

In [38]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

series_dict = series.to_dict()

print(series_dict.values())

dict_values([10, 20, 30, 40, 50])

#### Pass a dictionary to the Series constructor and assign the following keys and values: {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [40]:
data_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

series = pd.Series(data_dict)

print(series)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

#### Check if any values in the Series are null or not null using isnull() and notnull() methods

In [41]:
data = [10, 20, None, 40, None, 60]
index = ['a', 'b', 'c', 'd', 'e', 'f']
series = pd.Series(data, index=index)

has_null = series.isnull()

not_null = series.notnull()

print("Null values:")
print(has_null)
print("\nNot null values:")
print(not_null)

Null values:
a    False
b    False
c     True
d    False
e     True
f    False
dtype: bool

Not null values:
a     True
b     True
c    False
d     True
e    False
f     True
dtype: bool

#### Create another Series using the following data: data2 = [20, 30, 40, 50, 60]

In [42]:
data2 = [20, 30, 40, 50, 60]
series2 = pd.Series(data2)

print(series2)

0    20
1    30
2    40
3    50
4    60
dtype: int64

#### Assign the following index labels to the second Series: index2 = ['b', 'c', 'd', 'e', 'f']

In [43]:
data2 = [20, 30, 40, 50, 60]
index2 = ['b', 'c', 'd', 'e', 'f']
series2 = pd.Series(data2, index=index2)

print(series2)

b    20
c    30
d    40
e    50
f    60
dtype: int64

#### Add the two Series together and observe how pandas automatically aligns the data based on their index labels

In [44]:
data1 = [10, 20, 30, 40, 50]
index1 = ['a', 'b', 'c', 'd', 'e']
series1 = pd.Series(data1, index=index1)

data2 = [20, 30, 40, 50, 60]
index2 = ['b', 'c', 'd', 'e', 'f']
series2 = pd.Series(data2, index=index2)

result = series1 + series2

print(result)

a      NaN
b     40.0
c     60.0
d     80.0
e    100.0
f      NaN
dtype: float64

#### Use the unique() method to find the unique values in the Series.

In [45]:
data = [10, 20, 30, 40, 50, 20, 30]
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
series = pd.Series(data, index=index)

unique_values = series.unique()

print(unique_values)

[10 20 30 40 50]

#### Use the sort_values() method to sort the Series in ascending order by value.

In [46]:
data = [30, 10, 40, 20, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

sorted_series = series.sort_values()

print(sorted_series)

b    10
d    20
a    30
c    40
e    50
dtype: int64

#### Save the Series to a text file using the to_csv() method

In [47]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

series.to_csv('my_series.txt', header=False)

print("Series saved to file.")

Series saved to file.